<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:v-on="http://www.w3.org/1999/xhtml"
      xmlns:v-bind="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>ShopHome</title>
    <link rel="stylesheet" href="/css/fontawesome-free-5.13.0-web/css/all.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min(2).css}">
    <link rel="stylesheet" type="text/css" th:href="@{/css/all.css}">
    <script type="text/javascript" th:src="@{/js/jquery-3.4.1.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/popper.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/bootstrap.min.js}"></script>

    <script type="text/javascript" th:src="@{/js/math.js}"></script>

    <!--vue所需文件-->
    <script type="text/javascript" th:src="@{/js/vue.js}"></script>
    <script type="text/javascript" th:src="@{/js/axios.min.js}"></script>

    <!--Echarts插件引入-->
    <script type="text/javascript" th:src="@{/js/echarts.min.js}"></script>

    <style type="text/css">
        table tbody {
            display:block;
            height:700px;
            overflow-y:scroll;
        }
        table thead, tbody tr {
            display:table;
            width:100%;
            table-layout:fixed;
        }

        .shop8{
            display: inline-block;
            margin-left: 20px;
        }
        a{
            font-size: 18px;
            font-family: 微软雅黑;
        }
    </style>
</head>
<body style="background-color: rgb(249, 248, 252);height:1017px">
<div id="app">

    <form id="userForm" hidden="hidden">
        <input type="hidden" id="mid" th:value="${mid}">
        <input type="hidden" id="user_id" name="id" th:value="${user.id}">
        <input type="hidden" name="username" th:value="${user.username}">
        <input type="hidden" name="sex" th:value="${user.sex}">
        <input type="hidden" name="phone" th:value="${user.phone}">
        <input type="hidden" name="imgPath" th:value="${user.imgPath}">
    </form>


    <!--导航条-->
    <!--导航条-->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark" style="height: 60px;top: 0;position: sticky">
        <img src="/logo.png">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div v-if="showUser" style="width: 100%">
            <div class="nav-item dropdown" style="float: right">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
                   aria-expanded="false" style="color: white">
                    {{user.username}}
                </a>
                <div class="dropdown-menu" style="background-color: #2b2a2a">
                    <a style="margin-left: 25px;color: lawngreen" href="/logout">
                        <i style="color: orange"  class="fas fa-sign-out-alt"></i> Logout
                    </a>
                </div>
            </div>
            <img :src="user.imgPath" style="float: right;width: 40px;height: 40px">
        </div>
    </nav>

    <div style="display: flex;width: 100%;height: 100%;overflow-y: scroll">

        <!--垂直导航条-->
        <nav v-if="showUser" class="navbar navbar-expand-lg navbar-dark bg-primary" style="width: 240px;height: 100%;display: block;color: white;top: 0;position: sticky">


            <ul class="navbar-nav mr-auto btn-group-vertical"  style="text-align: left;display: inline-block">
                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" id="item1" href="#collapse1"><h6>顾客管理</h6></a>
                    <ul class="list-unstyled" data-parent="#item1" id="collapse1">
                        <li><a v-on:click="choose(1)"><i class="fas fa-users"></i> 顾客列表 </a></li>
                        <li><a v-on:click="choose(2)"><i class="fas fa-user-plus"></i> 添加顾客</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" id="item2" href="#collapse2"><h6>活动策划</h6> </a>
                    <ul class="list-unstyled" data-parent="#item2" id="collapse2">
                        <li><a  v-on:click="choose(3)"><i class="far fa-calendar-alt"></i> 活动列表</a></li>
                        <li><a  v-on:click="choose(4)"><i class="fas fa-plus"></i> 添加活动</a></li>
                    </ul>
                </li>

                <li class="nav-item">
                    <a class="nav-link" data-toggle="collapse" id="item4" href="#collapse4"><h6>订单管理</h6> <span class="sr-only">(current)</span></a>
                    <ul class="list-unstyled" data-parent="#item4" id="collapse4">
                        <li><a  v-on:click="choose(7)"><i class="fas fa-th-list"></i> 订单列表</a></li>
                        <li><a  v-on:click="choose(8)"><i class="fas fa-shopping-cart"></i> 创建订单</a></li>
                    </ul>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" data-toggle="collapse" id="item3" href="#collapse3"><h6>库存管理</h6> <span class="sr-only">(current)</span></a>
                    <ul class="list-unstyled" data-parent="#item3" id="collapse3">
                        <li><a  v-on:click="choose(5)"><i class="fas fa-store"></i> 商品列表</a></li>
                        <li><a  v-on:click="choose(6)"><i class="fas fa-luggage-cart"></i> 商品入库</a></li>
                    </ul>
                </li>

                <li class="nav-item active">
                    <a class="nav-link" data-toggle="collapse" id="item5" href="#collapse5"><h6>个人信息</h6> <span class="sr-only">(current)</span></a>
                    <ul class="list-unstyled" data-parent="#item3" id="collapse5">
                        <li><a  v-on:click="choose(9)"><i class="fas fa-user-cog"></i> 查看信息</a></li>
                    </ul>
                </li>
            </ul>
        </nav>



        <!--客户列表-->
        <div v-if="type==1" class="container" style="margin-top: 20px;max-width: 960px; display: inline-block">
            <!--用户列表过滤-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">顾客列表</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor03">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="顾客名称" v-model="customer_name">
                        <input class="form-control mr-sm-2" type="text" placeholder="联系方式" v-model="customer_phone">
                    </form>
                </div>
            </nav>


            <table class="table table-hover">

                <thead style="text-align: center">
                <tr style="text-align: center">
                    <th scope="col">顾客名称</th>
                    <th scope="col">会员等级</th>
                    <th scope="col">联系方式</th>
                    <th scope="col">累计消费</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody  style="text-align: center">
                <tr v-for="customer in customerListFilter" class="table-light">
                    <th scope="row">{{customer.customer_name}}<span class="caret"></span></th>
                    <th>
                        <span v-if="customer.membership==1">NOT VIP</span>
                        <span v-if="customer.membership==0.9">VIP</span>
                        <span v-if="customer.membership==0.85">HVIP</span>
                        <span v-if="customer.membership==0.8">SVIP</span>
                    </th>
                    <th>{{customer.phone}}</th>
                    <th>{{customer.consumption}}</th>
                    <th>
                        <button v-for="(cus,index) in customerList" type="button" v-if="cus.id==customer.id"
                                data-toggle="modal" data-target="#myModal" v-on:click="updateCustomer(customer.id,index)" class="btn btn-link text-success">
                            修改顾客信息
                        </button>&nbsp;
                    </th>

                </tr>
                </tbody>
            </table>
        </div>

        <!--添加顾客-->
        <div v-if="type==2" class="container" style="margin-top: 100px;width: 880px; display: inline-block">
            <div class="card" style="width: 100%;box-shadow: 0 0 0.25rem 0 rgba(111,117,135,.35);height: 450px;
            position: relative;border-radius:3px;margin: 0 auto">
                <div class="card-header card text-white bg-primary mb-3">
                    <h5> 添加顾客</h5>
                </div>
                <div class="card-body">
                    <form id="customerForm" style="text-align: left;">
                        <fieldset>
                            <div class="form-group">
                                <label for="customer_name">顾客名称：</label>
                                <input name="customer_name" type="text" id="customer_name" placeholder="name"  class="form-control" style="width: 100%; height: 48px;">
                            </div>
                        <div class="form-group">
                            <label for="customer_phone">联系方式：</label>
                            <input name="phone" type="email" id="customer_phone" placeholder="phone" class="form-control" style="width: 100%;height: 48px;">
                        </div>
                            <button type="button" width="300px" height="48px" class="btn btn-primary" style="width: 300px;height: 48px;" v-on:click="addCustomer()">提交</button>
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>

        <!--活动列表-->
        <div v-if="type==3" class="container" style="margin-top: 20px;max-width: 960px; display: inline-block">
            <!--活动列表过滤-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">活动列表</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor04" aria-controls="navbarColor04" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor04">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="活动时间" v-model="activity_s_date">
                        <input class="form-control mr-sm-2" type="text" placeholder="活动时间" v-model="activity_e_date">
                    </form>
                </div>
            </nav>
            <table class="table table-hover">
                <thead style="text-align: center">
                <tr style="text-align: center" class="table-primary">
                    <th scope="col">活动编号</th>
                    <th scope="col">活动方案</th>
                    <th scope="col">参与类型</th>
                    <th scope="col">参与季度</th>
                    <th scope="col">起止时间</th>
                    <th scope="col">操作</th>
                </tr>
                </thead>
                <tbody style="text-align: center">
                <tr v-for="activity in activityListFilter" class="table-light">
                    <th scope="row">{{activity.id}}</th>
                    <th scope="row">
                    <span v-if="activity.discount<1">
                        {{activity.discount*100}}%
                        <span v-if="activity.overlay==1">可折上折 </span>
                    </span>
                        <span v-else-if="activity.plan==2">
                        满&nbsp;{{Math.floor(activity.discount)}} &nbsp; 减 &nbsp;
                        {{NumberMul(NumberSub(activity.discount,Math.floor(activity.discount)),Math.floor(activity.discount))}}
                        <span v-if="activity.overlay==1">上不封顶</span>
                    </span>
                        <span v-else-if="activity.plan==3">
                        满{{Math.floor(activity.discount)}} &nbsp;
                        {{NumberMul(NumberSub(activity.discount,Math.floor(activity.discount)),100)}}%
                        <span v-if="activity.overlay==1">可折上折 </span>
                    </span>
                    </th>
                    <th scope="row">
                        <select v-if="activity.typeJson" class="form-control" >
                            <option v-for="type in activity.typeJson">{{type}}</option>
                        </select>
                        <span v-else>全部类型</span>
                    </th>
                    <th scope="row">
                        <select v-if="activity.seasonJson" class="form-control" >
                            <option v-for="season in activity.seasonJson">{{season}}</option>
                        </select>
                        <span v-else>全部季度</span>
                    </th>
                    <th scope="row">{{activity.start_date}}----{{activity.end_date}}</th>
                    <th scope="row">
                        <button v-for="(a,index) in activityList" v-if="a.id==activity.id" type="button" class="btn btn-link text-success" v-on:click="deleteActivity(activity.id,index)">
                            删除
                        </button>&nbsp;
                    </th>

                </tr>
                </tbody>
            </table>
        </div>

        <!--创建活动-->
        <div v-if="type==4" class="container" style="margin-top: 20px;width: 880px; display: inline-block">
            <div class="card" style="width: 100%;box-shadow: 0 0 0.25rem 0 rgba(111,117,135,.35);position: relative;border-radius:3px;
            margin: 0 auto;height:auto;max-height: 950px">
                <div class="card-header card text-white bg-primary mb-3">
                    <h5> 创建活动</h5>
                </div>
                <form id="addActivityForm" style="border:1px; height: auto;width: 600px;margin-bottom: 25px;margin-left:130px">
                    <fieldset>
                        <div class="form-group">
                            <label>方案:</label>
                            <input type="hidden" name="s_id" th:value="${user.id}">
                            <select class="form-control" v-model="discount_case" name="plan" style="width: 100%;height: 48px">
                                <option value="0">--</option>
                                <option value="1">折扣</option>
                                <option value="2">满减</option>
                                <option value="3">满折</option>
                            </select>
                        </div>

                        <div class="form-group">
                            <label>叠加:</label>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="overlay" value="1">&nbsp;&nbsp;是
                                </label>
                            </div>
                            <div class="form-check disabled">
                                <label class="form-check-label">
                                    <input class="form-check-input" type="radio" name="overlay" value="0" checked>&nbsp;&nbsp;否
                                </label>
                            </div>
                        </div>


                        <div v-if="discount_case==1" class="form-group">
                            折扣 &nbsp;<input class="form-control" type="text" v-model="case1_set" name="discount" style="width: 100%;height: 48px">
                            <p v-if="case1_set >=100" class="text-danger">请输入0~100之间的数字</p>
                        </div>
                        <div v-if="discount_case==2" class="form-group">
                            满 &nbsp;<input class="form-control" type="text" v-model="case2_set1" name="full" style="width: 100%;height: 48px"> &nbsp;
                            减 &nbsp;<input class="form-control" name="cut" type="text" v-model="case2_set2" style="width: 100%;height: 48px" >
                            <p v-if="case2_set2 > case2_set1" class="text-danger">请输入合理的优惠参数</p>
                        </div>
                        <div v-if="discount_case==3" class="form-group">
                            满 &nbsp;<input class="form-control" type="text" v-model="case3_set1" name="full" style="width: 100%;height: 48px"> 件&nbsp; &nbsp;
                            <input class="form-control" name="free" type="text" v-model="case3_set2" style="width: 100%;height: 48px">%
                            <p v-if="case3_set2>=100" class="text-danger">请输入合理的优惠参数</p>
                        </div>

                        <div style="display: flex">
                            <div class="form-group" v-if="discount_case==1||discount_case==3"
                                 style="width: 45%;font-family: 微软雅黑;background-color: white;color: black;">
                                <label v-if="discount_case==1||discount_case==3">参与商品类型：</label>
                                <small  class="form-text text-muted" v-if="discount_case==1||discount_case==3">所有类型均参与则不选</small>
                                <div style="height: 100px;overflow-y: scroll">
                                    <div class="form-check" v-for="t in activity_typeList">
                                        <label class="form-check-label">
                                            <input class="form-check-input" v-model="a_type" type="checkbox" :value="t"> &nbsp;{{t}}&nbsp;
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group" v-if="discount_case==1||discount_case==3"
                                 style="width: 45%;font-family: 微软雅黑;background-color: white;color: black;margin-left: 25px">
                                <label v-if="discount_case==1||discount_case==3">参与商品季度：</label>
                                <small  class="form-text text-muted" v-if="discount_case==1||discount_case==3">所有季度均参与则不选</small>
                                <div style="height: 100px;overflow-y: scroll">
                                    <div class="form-check" v-for="s in activity_seasonList">
                                        <label class="form-check-label">
                                            <input class="form-check-input" v-model="a_season" type="checkbox" :value="s"> &nbsp;{{s}}&nbsp;
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label>活动起止时间</label>
                            <p>
                                <input type="date" id="start_date2" name="start_date" value=" " placeholder="查询年月" class="form-control" style="width: 100%;height: 48px">
                                ----
                                <input type="date" id="end_date2" name="end_date" value=" " placeholder="查询年月" class="form-control" style="width: 100%;height: 48px">
                            </p>
                        </div>

                        <button type="button" v-on:click="addActivity()" class="btn btn-primary" style="height: 48px;width: 300px">提交</button>
                    </fieldset>
                </form>
            </div>

        </div>

        <!--商品列表-->
        <div v-if="type==5||type==8" v-bind:class="type8Watch" style="margin-top: 20px;max-width: 1000px; display: inline-block">
            <!--列表过滤-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">商品列表</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor05" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarColor05">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="商品名称" v-model="c_Name">
                        <input class="form-control mr-sm-2" type="text" placeholder="上架季度" v-model="season">
                        <select class="form-control mr-sm-2" type="text" placeholder="商品类型" v-model="c_type">
                            <option value="">无</option>
                            <option v-for="t in activity_typeList" :value="t">{{t}}</option>
                        </select>
                    </form>
                </div>
            </nav>


            <table class="table table-hover">

                <thead style="text-align: center">
                <tr style="text-align: center" class="table-primary">
                    <th scope="col">商品名称</th>
                    <th scope="col">商品价格</th>
                    <th scope="col">上架季度</th>
                    <th scope="col">商品类型</th>
                    <th scope="col">库存数量</th>
                    <th v-if="type==8" scope="col">加入订单</th>
                </tr>
                </thead>
                <tbody  style="text-align: center;overflow: auto">
                <tr v-for="commodity in commodityListFilter" class="table-light">
                    <th scope="row">
                    <img v-if="commodity.commodity.imgPath!=null" :src="commodity.commodity.imgPath" width="50" height="50">
                        <img v-else src="/commodity/noImg.jpg" width="50" height="50">
                        {{commodity.commodity.c_name}}
                    </th>
                    <th scope="row">{{commodity.commodity.price}}</th>
                    <th scope="row">{{commodity.commodity.season}}</th>
                    <th scope="row">{{commodity.commodity.type}}</th>
                    <th scope="row">
                        S：{{commodity.s}} &nbsp;
                        M：{{commodity.m}} &nbsp;
                        L：{{commodity.l}}
                    </th>
                    <th v-if="type==8" ><button v-for="(c,index) in commodityList" v-if="c.commodity.id==commodity.commodity.id" type="button" class="btn btn-link"
                                                data-toggle="modal" data-target="#myModal3" v-on:click="addShoppingCart(index)">
                        加入购物车
                    </button></th>

                </tr>
                </tbody>
            </table>
        </div>

        <!--入库商品-->
        <div v-if="type==6" class="container" style="border:1px;margin-top: 100px;width: 880px; display: inline-block">
            <div class="card" style="width: 100%;box-shadow: 0 0 0.25rem 0 rgba(111,117,135,.35);position:
            relative;border-radius:3px;margin: 0 auto;height: auto">
                <div class="card-header card text-white bg-primary mb-3">
                    <h5> 商品入库</h5>
                </div>
                <div class="card-body">
                    <form id="addCommodityInfo" style="text-align: left;border-radius: 10px;margin-bottom: 25px">
                        <fieldset>
                            <input type="hidden" name="s_id" th:value="${user.id}">
                            <div class="form-group">
                                <label>选择商品</label>
                                <select class="form-control" style="width: 100%;height: 48px;" name="c_id">
                                    <option v-for="commodity in commodityList" :value="commodity.id">{{commodity.c_name}}</option>
                                </select>
                            </div>
                            <br>
                            <label>入库数量</label>
                            <div class="form-group">
                                <label>S:</label><input class="form-control" style="width: 100%;" type="number" name="s" value="0" min="0"> &nbsp;
                            </div>
                            <div class="form-group">
                                <label>M:</label><input class="form-control" style="width: 100%;" type="number" name="m" value="0" min="0"> &nbsp;
                            </div>
                            <div class="form-group">
                                <label>L:</label><input class="form-control" style="width: 100%;" type="number" name="l" value="0" min="0"> &nbsp;
                            </div>


                            <button type="button" v-on:click="addCommodityInfo()" class="btn btn-primary" style="height: 48px;width: 300px">提交</button>
                        </fieldset>
                    </form>
                </div>

            </div>
        </div>

        <!--订单列表-->
        <div v-if="type==7" class="container" style="margin-top: 20px;max-width: 1200px; display: inline-block">
            <!--列表过滤-->
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#">订单列表</a>

                <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="text" placeholder="订单编号" v-model="o_id">
                    <input class="form-control mr-sm-2" type="text" placeholder="交易时间" v-model="o_date">
                    <input class="form-control mr-sm-2" type="text" placeholder="买家" v-model="customer">
                </form>

            </nav>


            <table class="table table-hover">

                <thead style="text-align: center">
                <tr style="text-align: center" class="table-primary">
                    <th scope="col">订单编号</th>
                    <th scope="col">订单详情</th>
                    <th scope="col">顾客名称</th>
                    <th scope="col">交易金额</th>
                    <th scope="col">交易时间</th>
                </tr>
                </thead>
                <tbody  style="text-align: center">
                <tr v-for="(order,index) in orderListFilter" class="table-light">
                    <th scope="row">{{order.id}}</th>
                    <th scope="row">
                        <button type="button" class="btn btn-link text-success" data-toggle="modal" data-target="#myModal2" v-on:click="getDetail(index)">
                            查看订单详情
                        </button>
                    </th>
                    <th scope="row">{{order.customer.name}}</th>
                    <th scope="row">{{order.price}}</th>
                    <th scope="row">{{order.date}}</th>
                </tr>
                </tbody>
            </table>
        </div>

        <!--创建订单-->
        <div v-if="type==8" class="container" style="margin-top: 20px;width: 880px;float: left;display: inline-block;">
            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand">创建订单</a>
                <div class="collapse navbar-collapse" id="navbarColor06">
                    <form class="form-inline my-2 my-lg-0">
                        <input class="form-control mr-sm-2" type="text" name="customerName" list="customerList" placeholder="顾客姓名" v-model="order_name">
                        <datalist id="customerList">
                            <option v-for="customer in customerListFilter2">{{customer.customer_name}}</option>
                        </datalist>

                        <input class="form-control mr-sm-2" type="text" name="customerPhone" list="phoneList" placeholder="联系方式" v-model="order_phone">
                        <datalist id="phoneList">
                            <option v-for="customer in customerListFilter2">{{customer.phone}}</option>
                        </datalist>
                    </form>
                    <button type="button" class="btn btn-secondary" v-on:click="clearShoppingList()">清空购物车</button>
                </div>
            </nav>
            <div style="height:720px;">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th scope="col">商品</th>
                        <th scope="col">价格</th>
                        <th scope="col">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr v-for="(shop,index) in shoppingListFilter" style="text-align: center">
                        <th scope="col">
                            <img v-if="shop.imgPath!=null" :src="shop.imgPath" width="50" height="50">
                            <img v-else src="/commodity/noImg.jpg" width="50" height="50">
                            {{shop.commodityName}}
                            <p class="text-secondary">
                                {{shop.size}} &nbsp;×{{shop.quantity}}
                            </p>
                        </th>
                        <th scope="col">{{NumberMul(singleDiscount(shop),shop.quantity)}}</th>
                        <th scope="col">
                            <button type="button" class="btn btn-link" v-on:click="removeShop(index)">
                                移除购物车
                            </button>
                        </th>
                    </tr>
                    </tbody>
                </table>
            </div>


            <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                <form id="createOrderForm">
                    <input type="hidden" name="sid" th:value="${user.id}">
                    <input v-if="customerListFilter3.length>0" type="hidden" name="cus_id" :value="customerListFilter3[0].id">
                    <input type="hidden" name="price" :value="orderTotalPrice">
                </form>
                <button type="button" class="btn btn-success" style="float: right" v-on:click="addOrder()">提交订单</button>
                <a class="navbar-brand" style="float: right;margin-left: 450px">总价格:{{orderTotalPrice}}</a>
            </nav>
        </div>

        <!--个人信息-->
        <div v-if="type==9&&showUser" class="container" style="margin-top: 20px;max-width: 960px; display: inline-block">
            <div class="card" style="width: 100%;box-shadow: 0 0 0.25rem 0 rgba(111,117,135,.35);position: relative;border-radius:3px;margin-top: 1.25rem;height: 230px">
                <div class="card-body">
                    <h4 class="card-title">基础信息</h4>
                    <div style="display: inline-flex">
                        <img th:src="${user.imgPath}" style="height: 100px;height: 100px">
                    </div>
                    <div style="display: inline-block;margin-left: 20px">
                        <form id="updateUsernameForm">
                            <input type="hidden" name="id" :value="user.id">
                            <h5 class="card-subtitle mb-2 text-muted">username:</h5>
                            <div class="card-text">
                                <input v-if="usernameFlag" name="username" :value="user.username" style="height: 36px;width: 300px;">
                                <span v-else="usernameFlag" style="font-size: 36px" >{{user.username}}</span>
                                <button v-if="usernameFlag" type="button" class="btn btn-primary" v-on:click="updateUsername()">修改名称</button>
                            </div>
                        </form>

                        <button type="button" class="btn btn-link text-info" v-on:click="editUsernameForm()" ><i class="fas fa-edit"></i>更改名称</button>
                        <button type="button" class="btn btn-link text-info" data-toggle="modal" data-target="#myModal4"><i class="fas fa-user-edit"></i>更换头像</button>
                    </div>
                </div>
            </div>

            <div class="card" style="width: 100%;box-shadow: 0 0 0.25rem 0 rgba(111,117,135,.35);position: relative;border-radius:3px;
            margin-top: 1.25rem;height: auto">
                <div style="height: 60px">
                    <h4 class="card-title" style="display:inline-block;margin: 25px;padding-left: 8px">其他信息</h4>
                    <button class="btn btn-primary" style="float: right;height: 48px;width: 150px;display:inline-block;margin: 25px" v-on:click="editOther()">
                        修改信息
                    </button>
                </div>
                <div class="card-body" style="margin-bottom: 10px">
                    <form id="otherInfoForm">
                        <input type="hidden" name="id" :value="user.id">
                        <div class="form-group">
                            <h5 class="card-subtitle mb-2 text-muted">sex</h5>
                            <select v-if="otherInfoFlag" class="form-control" name="sex" :value="user.sex" style="height: 48px;width: 300px;" >
                                <option value="男">男</option>
                                <option value="女">女</option>
                            </select>
                            <span v-else style="font-size: 24px">{{user.sex}}</span>
                        </div>
                        <div class="form-group">
                            <h5 class="card-subtitle mb-2 text-muted">phone</h5>
                            <input v-if="otherInfoFlag" type="text" class="form-control" name="phone" :value="user.phone" style="height: 36px;width: 300px;">
                            <span v-else style="font-size: 24px">{{user.phone}}</span>
                        </div>
                        <button v-if="otherInfoFlag" style="height: 46px;width: 300px;" class="btn btn-primary" v-on:click="updateOther()">提交</button>
                    </form>
                </div>
            </div>

            <div class="card" style="width: 100%;box-shadow: 0 0 0.25rem 0 rgba(111,117,135,.35);position: relative;border-radius:3px;
            margin-top: 1.25rem; height: auto">
                <h4 class="card-title" style="display:inline-block;margin: 25px;padding-left: 8px">安全信息</h4>
                <div class="card-body" style="margin-bottom: 10px">
                    <form v-if="securityFlag" id="updatePasswordForm">
                        <input type="hidden" name="id" :value="user.id">
                        <div class="form-group">
                            <h5 class="card-subtitle mb-2 text-muted">原始密码：</h5>
                            <input type="password" name="old_password" class="form-control" style="height: 36px;width: 300px;">
                        </div>
                        <div class="form-group">
                            <h5 class="card-subtitle mb-2 text-muted">新密码：</h5>
                            <input type="password" name="password" class="form-control" style="height: 36px;width: 300px;">
                        </div>
                        <div class="form-group">
                            <h5 class="card-subtitle mb-2 text-muted">重复密码：</h5>
                            <input type="password" name="re_password" class="form-control" style="height: 36px;width: 300px;">
                        </div>
                        <div class="form-group">
                            <button class="btn btn-primary" type="button" style="width: 300px;height: 46px;" v-on:click="updatePassword()">提交</button>
                        </div>
                    </form>
                    <button v-else class="btn btn-primary" style="width: 150px;height: 48px;" v-on:click="editPassword()">修改密码</button>
                </div>
            </div>
        </div>

    </div>

    <!--修改头像模态框-->
    <div class="modal fade" id="myModal4" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">修改用户信息</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form action="/shop/uploadIcon" method="post" enctype="multipart/form-data">
                        <fieldset>
                            <input type="hidden" name="id" th:value="${user.id}">
                            <div class="form-group">
                                <label for="exampleInputFile">上传头像</label>
                                <input type="file" class="form-control-file" id="exampleInputFile" aria-describedby="fileHelp" name="file">
                            </div>
                        </fieldset>
                        <input class="btn btn-primary" type="submit" value="提交" style="height: 48px;width: 300px">
                    </form>

                </div>

            </div>
        </div>
    </div>

    <!--修改顾客模态框-->
    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">修改用户信息</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="updateCustomerForm">
                            <fieldset>
                                <input type="hidden" name="id" id="customer_id">
                                <div class="form-group">
                                    <label>顾客名：</label>
                                    <input name="customer_name" id="customer_name2" type="text" class="form-control" placeholder="name">
                                </div>
                                <div class="form-group">
                                    <label>电话：</label>
                                    <input name="phone" type="text" class="form-control"  placeholder="phone" id="customer_phone2">
                                </div>
                            </fieldset>
                        </form>

                    </div>
                    <div class="modal-footer">
                        <button id="updateUserBtn" type="button" class="btn btn-primary" v-on:click="submitUpdateCustomer(Ind)">提交</button>
                    </div>
                </div>
            </div>
        </div>

    <!--订单详情页面-->
    <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div style="max-width:960px" class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">订单详情</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body" v-if="detail">
                        <p>订单编号：{{detail.id}} &nbsp; &nbsp; &nbsp;交易时间：{{detail.date}}</p>
                        <p>卖家：<span th:text="${user.username}"></span> &nbsp; &nbsp; &nbsp;买家：{{detail.customer.name}}</p>

                        <legend>订单商品：</legend>
                        <div style="height:250px;overflow-y:scroll;">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">商品名称</th>
                                    <th scope="col">码数</th>
                                    <th scope="col">数量</th>
                                    <th scope="col">价格</th>
                                </tr>
                                </thead>
                                <tbody style="overflow-y: scroll">
                                <tr v-for="commodity in commodityList" style="text-align: center">
                                    <th scope="row">
                                        <img v-if="commodity.imgPath!=null" :src="commodity.imgPath" width="50" height="50">
                                        <img v-else src="/commodity/noImg.jpg" width="50" height="50">
                                        {{commodity.c_name}}
                                    </th>
                                    <th scope="row">{{commodity.size}}</th>
                                    <th scope="row">{{commodity.quantity}}</th>
                                    <td scope="row">{{commodity.price}}￥</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>

                        <legend>订单活动：</legend>
                        <div style="height:250px;overflow-y:scroll;">
                            <table class="table table-hover">
                                <thead>
                                <tr>
                                    <th scope="col">活动编号</th>
                                    <th scope="col">活动内容</th>
                                    <th scope="col">参与类型</th>
                                    <th scope="col">参与季度</th>
                                </tr>
                                </thead>
                                <tbody style="overflow-y: scroll">
                                <tr v-for="activity in activityList" style="text-align: center">
                                    <th scope="row">{{activity.id}}</th>
                                    <th scope="row">
                                <span v-if="activity.discount<1">{{activity.discount*100}}%
                                    <span v-if="activity.overlay==1">可折上折 </span>
                                </span>
                                        <span v-else-if="activity.plan==2">
                                    满&nbsp;{{Math.floor(activity.discount)}} &nbsp; 减 &nbsp;
                                    {{NumberMul(NumberSub(activity.discount,Math.floor(activity.discount)),Math.floor(activity.discount))}}
                                    <span v-if="activity.overlay==1">上不封顶</span>
                                </span>
                                        <span v-else-if="activity.plan==3">
                                    满{{Math.floor(activity.discount)}} &nbsp;
                                    {{NumberMul(NumberSub(activity.discount,Math.floor(activity.discount)),100)}}%
                                    <span v-if="activity.overlay==1">可折上折 </span>
                                </span>
                                    </th>
                                    <th scope="row">
                                        <select v-if="activity.typeJson" multiple="" class="form-control" style="width: 80px;height: 30px">
                                            <option v-for="t in activity.typeJson">{{t}}</option>
                                        </select>
                                        <span v-else>全部类型</span>
                                    </th>
                                    <th scope="row">
                                        <select v-if="activity.seasonJson" multiple="" class="form-control" style="width: 80px;height: 30px">
                                            <option v-for="s in activity.seasonJson">{{s}}</option>
                                        </select>
                                        <span v-else>全部季度</span>
                                    </th>
                                </tr>
                                </tbody>
                            </table>
                        </div>


                    </div>
                    <div class="modal-footer" v-if="detail">
                        <p style="float: right">订单原价：{{detail_price}}</p><br>
                        <p style="float: right" class="text-danger">
                            优惠:
                            <span v-if="detail.price==detail_price">无</span>
                            <span v-else>
                            {{NumberSub(detail_price,detail.price)}}
                        </span>
                        </p><br>
                        <p><hr></p><br>
                        <p style="float: right" class="text-info">实际价格：{{detail.price}}</p>
                    </div>
                </div>
            </div>
        </div>

    <!--选择商品款式数量模态框-->
    <div class="modal fade" id="myModal3" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div style="max-width:960px" class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">商品详情</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <form id="orderInfo" v-if="chooseShop!=null">
                                <input id="commodityId" name="c_id" type="hidden" :value="chooseShop.commodity.id">
                                <input type="hidden" id="commodityType" name="type" :value="chooseShop.commodity.type">
                                <input type="hidden" id="commoditySeason" name="season" :value="chooseShop.commodity.season">
                            <div class="form-group">
                                <label>商品名称：</label>
                                <input :value="chooseShop.commodity.c_name" id="commodityName" type="text" readonly="readonly" name="commodityName"
                                       style="width:600px;height: 48px;border-style: hidden">
                            </div>
                            <div class="form-group">
                                <label>商品价格：</label>
                                <input id="commodityPrice" type="text" readonly="readonly" name="price"
                                       style="width:600px;height: 48px;border-style: hidden" :value="chooseShop.commodity.price">
                            </div>

                            <p>
                                选择尺码：
                                <select name="size" v-model="chooseSize">
                                    <option value="s">S</option>
                                    <option value="m">M</option>
                                    <option value="l">L</option>
                                </select>
                            </p>
                            <p>购买数量:
                                <input v-if="chooseSize=='s'" id="chooseS" type="number" name="quantity" value="1" min="1" :max="chooseShop.s">
                                <input v-if="chooseSize=='m'" id="chooseM" type="number" name="quantity" value="1" min="1" :max="chooseShop.m">
                                <input v-if="chooseSize=='l'" id="chooseL" type="number" name="quantity" value="1" min="1" :max="chooseShop.l">
                            </p>
                            <input type="hidden" name="imgPath" :value="chooseShop.commodity.imgPath">
                        </form>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" v-on:click="addOrderInfo()">确定</button>
                    </div>
                </div>
            </div>
        </div>



    </div>

</div>


</body>
<script  type="text/javascript" th:src="@{/js/shop.js}"></script>

</html>